<table id="customerTable" cellspacing="0" cellpadding="0">
  <caption>Customers
  <a href="/addCustomer" class="btn btn-red">+Add New</a>
  </caption>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.description}}</td>
      <th>
        <a href="/editCustomer/{{customer.id}}" class="btn btn-grey">Edit</a>
        <a (click)="delete(customer.id)" href="javascript:void(0);" class="btn btn-red">Delete</a>
      </th>
    </tr>
  </tbody>
</table>
<div id="pagination">
</div>